.card_finance {

    height: 106px;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 0px 6px 8px rgba(21, 129, 229, 0.1) !important;
    /* Add a transition for a smooth effect */
}

.card_finance:hover {
    /* transform: scaleY(1.2); Increase the height by scaling vertically */
    /* height: 200px; */


}