.group {
  position: relative;
  /* margin: 45px 0; */
  border: 1px solid#C3C8CD;
  padding: 10px 5px;
  border-radius: 10px;
  min-height: 56px;
  max-height: 56px;
}

input {
  background: none;
  color: black,var(--input-text);
  padding: 12px 10px 10px 5px;
  display: block;
  min-width: 320px;
  border: none;
  font-weight: 600;
  font-size: 18px !important;

  /* border-radius: 0; */
}

.currency {
  font-size: 18px;
}

.currency {
  top:4px;
  left:10px;
  transform: translateY(65%);
}

input:focus {
  outline: none;
}

input:focus~label,
input:valid~label {
  top: -8px;
  left: 10px;
  font-size: 14px;
  /* color: #2196F3; */
}

input:focus~.bar:before {
  width: 320px;
}

label {
  color: var(--input-text);
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 5px;
  transform: translatey(50%);
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}

.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}

.btn.btn-submit {
  background: #2196F3;
  color: #bce0fb;
}

.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}

.btn.btn-cancel {
  background: #eee;
}

.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

input:focus~.group {
  border: 1px solid #7ace23 !important;
}