:root {
  --nav-bg: #050B13;
  --nav-text: #A8B7C6;
  --nav-bg-light: #93c5fd80;
  --input-text: #7A848D;
}


.bg-none {
  background-color: transparent !important;
}

.slide-up-animation {
  transition: all 0.7s linear;
  transform: translateY(-100vh);
}

.fs-12 {
  font-size: 12px;
}

.mw-366 {
  max-width: 366px;
}

.mw-200 {
  max-width: 200px;
  min-width: unset !important;
}

.min-vh-100 {
  min-height: 100vh;
}

.mh-56 {
  min-height: 56px;
}